{
  "env": {
	"browser": true
  },
  "extends": ["standard"],
  "parser": "babel-eslint",
  "rules": {
	"eol-last": 0,
	"eqeqeq": [1, "smart"],
	"no-multiple-empty-lines": [2, {"max": 2}],
	"no-unused-vars": [1, "all"],
	"quotes": [0, "single"],
	"semi": [2, "always"],
	"space-before-function-paren": [2, "never"],
	"spaced-comment": [0, "always"],
	"radix": 0
  },
  "globals": {
	"angular": true,
	"_": true,
	"moment": true,
	"$": true,
	"jQuery": true,
	"d3": true,
	"describe": true,
	"xdescribe": true,
	"expect": true,
	"spyOn": true,
	"beforeEach": true,
	"afterEach": true,
	"inject": true,
	"it": true,
	"jasmine": true
  },
  "plugins": [
	"jasmine"
  ]
}